
TAIGA_HOST=http://localhost
TAIGA_SITE_SCHEME=http
TAIGA_SOCKETS_SCHEME=ws

TAIGA_SITE_DOMAIN=localhost
TAIGA_SECRET_KEY=SUPER_SECRET_KEY_XXX
TAIGA_RABBITMQ_PASSWORD=SUPER_PASSWORD_XXX
TAIGA_FROM_EMAIL=noreply@taiga.local
TAIGA_PUBLIC_REGISTER_ENABLED=True

TAIGA_SMTP_USE_TLS=True
TAIGA_SMTP_HOST=your-smtp-host.ga
TAIGA_SMTP_HOST_USER=your-smtp-host-user
TAIGA_SMTP_HOST_PASSWORD=Taiga2017
TAIGA_SMTP_PORT=465

TAIGA_GITHUB_API_CLIENT_ID=_YOUR_GITHUB_API_CLIENT_SECRET_XXX
TAIGA_GITHUB_API_CLIENT_SECRET=YOUR_GITHUB_API_CLIENT_SECRET_XXX

TAIGA_IMPORT_SAMPLE_DATA=False

